.card-row {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  padding: 10px;
}

.card {
  margin-right: 10px; /* Adjust margin between cards */
  width: 9rem;
  height: 158px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#tech-paragraph {
  height: 50px;
}

#contactFormParent {
  height: 500px;
}

#footer {
  height: 120px;
  font-size: 18px; /* Increase font size */
  display: flex;
  align-items: center;
  flex-direction: column; /* Add this line */
  justify-content: flex-end; /* Add this line */
  align-items: center;
}